<div class="cont h-full lg:rounded-xl bg-blue-600 lg:bg-white border border-blue-700 lg:border-none">
    
    <div *ngIf="users.length > 0" class="users-cont w-full h-full overflow-y-auto flex flex-col items-end ">
        <div class="users border-b border-black w-11/12 lg:w-full p-1 flex flex-row gap-2 lg:p-3  items-center relative" *ngFor="let user of users; let i = index">
            
            <img *ngIf="i == 0" src="../../../../../assets/images/pencil.png" class="w-5 h-5 absolute right-1">
            <img [src]="getUserImage(i)" class="w-8 border border-main-green rounded-full lg:border-4 lg:border-black lg:w-16">
            <div class="points flex flex-col justify-center items-start text-white lg:text-blue-600">
                <p class="text-xs lg:text-main-red lg:text-lg">{{user.userName}}</p>
                <p class="text-xs font-thin lg:font-semibold lg:text-black lg:text-lg">{{ user.userPoints | number: '1.0-0' }} pts</p>
            </div>
            
        </div>
    </div>
</div>
