
:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    padding: 0;
    background-image: url('../../../../assets/images/background.webp') !important;
    background-size:auto; /* Para cubrir todo el contenido del div */
    background-position: center; /* Para centrar la imagen *;*/

    background-color: #2563EB;
}



@media (min-width: 1024px) {
    app-game-chat{
        width: 300%;
    }

    app-game-board{
        margin-left: 20px;
        margin-bottom: 25px;
        width: 100%;
    }
  }


