<div class="background flex justify-center items-center bg-blue-600 ">
  <div class="flex-col justify-center items-center w-5/6 h-5/6 lg:w-5/6 rounded-2xl shadow-inner">
    <div class="flex justify-center items-center w-full h-1/6 lg:hidden">
      <div id="button-one" class="active flex justify-center items-center text-center w-1/2 h-full bg-white rounded-tl-2xl">
        <button class="text-gray-700 font-bold" (click)="changeToPrivate()">
          Crear sala
        </button>
      </div>
      <div id="button-two" class="flex justify-center items-center text-center w-1/2 h-full bg-white rounded-tr-2xl">
        <button class="text-gray-700 font-bold" (click)="changeToPublic()">
          Salas disponibles
        </button>
      </div>
    </div>
    <div class="flex justify-center items-center w-full h-5/6 bg-white rounded-b-2xl lg:h-full lg:w-full lg:rounded-2xl">
      <div class="flex justify-center items-center w-full h-full rounded-b-2xl lg:flex-row lg:rounded-2xl">
        <app-private-rooms class="lg:flex lg:justify-center lg:items-center lg:w-2/6 lg:h-full lg:rounded-l-2xl" *ngIf="isPrivate || isLargeScreen"></app-private-rooms>
        <app-public-rooms class="lg:flex lg:justify-center lg:items-center lg:w-4/6 lg:h-full lg:rounded-r-2xl" *ngIf="isPublic || isLargeScreen"></app-public-rooms>
      </div>
    </div>
  </div>
</div>
